.relatedproducts{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
    margin-top: 1rem;
}
.relatedproducts h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.relatedproducts hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.relatedproduct-item{
    margin-left: 3rem;
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 80px;
        margin-bottom: 4rem;
        color: #171717;
}